.topRow {
    width: 100%;
    margin-top: 30px;
  }
.topRow > h2 {
    display: inline-block;
    margin-left: 50px;
    margin-right: 580px;
  }
.topRow > select {
    display: inline-block;
    border-radius: 3px;
    height: 25px;
    margin: 0 8px;
    font-size: 11px;
    width: 130px;
  }
.YearContainer {
    z-index: -1;
}
.ArrowsContainer {
    margin-top:263px;
    width: 100%;
    position: fixed;
}
.ArrowLeft {
    display: inline-block;
    position: absolute;
    left: 50px;
    right: auto; 
}
.ArrowRight {
    display: inline-block;
    position: absolute;
    right: 50px; 
    left:auto; 
}